/* =========================
   CSS Variables (Theme)
========================= */
:root {
    --bg-color: #0f0f13;
    --card-bg: #1a1a20;
    --primary: #7c3aed;
    --primary-hover: #6d28d9;
    --text-main: #ffffff;
    --text-muted: #9ca3af;
    --success: #22c55e;
    --error: #ef4444;
    --warning: #f59e0b;
    --letter-bg: #2a2a35;
}

/* =========================
   Google font - Robotto
========================= */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* =========================
   Reset & Base
========================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    min-height: 100vh;
    background: radial-gradient(circle at top, #1f1f29, var(--bg-color));
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-main);
}

/* =========================
   Layout
========================= */
.container {
    padding: 1rem;
}

.card {
    background: var(--card-bg);
    border-radius: 16px;
    padding: 2rem;
    width: 320px;
    text-align: center;
    box-shadow: 0 20px 40px;
    
    
}
.title{
    margin-bottom: 1em ;
}

.letters {
    display: flex;
    padding: 1em;
    flex-wrap: wrap;
    gap: 0.75rem;
    justify-content: center;
}

.letter {
     background-color: var(--primary);
    width: 40px;
    height: 40px;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bold;
    color: white;
}

#guess {
    border: 2px solid var(--text-main);
    padding: 1em;
    border-radius: 10px;
    background-color: var(--card-bg);
    font-size: small;
    font-weight: bold;
    text-align: center;
}
#result{
    padding-top: 1em;
}

#check {
  margin: 1em ;
  padding: 1em;
  border: none;
  outline: none;
  background-color: var(--primary);
  color: var(--text-main);
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.25s ease-out;
}

#check:hover {
  transform: translateY(-1em);
}
#tries{
    font-weight: bolder;
}

